html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: linear-gradient(to bottom, #cb31ff55, #2a5fff99);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
